<form method="post" action="{{ path('app_typevehicule_delete', {'id': typevehicule.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ typevehicule.id) }}">
    <button class="btn">Delete</button>
</form>
