{% block stylesheets %}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700"/>
	<link rel="stylesheet" href="{{ asset('css/fontawesome.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('css/templatemo-style.css') }}">
{% endblock %}
{% block body %}
	<h1>Nouveau mot de passe</h1>
	<p>Bonjour,</p>
	<p>Votre mot de passe a été réinitialisé. Voici votre nouveau mot de passe :
		<strong>{{ newPassword }}</strong>
	</p>
	<p>Merci de ne pas répondre à cet e-mail. Si vous n'avez pas demandé de réinitialisation de votre mot de passe, merci de contacter notre service support.</p>
{% endblock %}
