{% extends 'baseBack.html.twig' %}

{% block title %}New Vehicule{% endblock %}

{% block body %}
<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Vehicule Form</h3>
    </div>

    {{ include('vehicule/_form.html.twig') }}

</div>
    <a href="{{ path('app_vehicule_index') }}">back to list</a>
{% endblock %}
